body {
    background-image: url('../img/5-dots.png');
  }
  
  .logo {
    font-family: 'Peralta', cursive;
  }
  
  .logo a {
    color: rgb(255,255,255);
  }
  
  .logo a:hover,
  .logo a:active {
    text-decoration: none;
  }